.i1{
    margin-top: 30px;
}

h1{
    text-align: center;
    color: rgb(34, 139, 219);
    font-size: 60px;
    letter-spacing: 6px;
}

.i2{
    background-color: rgb(241, 252, 255);
}

.i3{
    margin-top: 10px;
}
