.i1{
    margin-top: 30px;

}

.i2{
    background-color: rgb(250, 250, 250);
    
}

.i3{
    background-color: rgb(241, 252, 255);
    
}

h1{
    text-align: center;
    color: rgb(34, 139, 219);
    font-size: 60px;
    letter-spacing: 6px;
}
